

<div class="wrapper">
    
<main>
            
<div class="banner-ny-wrapper">
    </div>
<section class="powerful_nutr_section">
        <div class="container">
            <div class="inner">
                <div class="left_side">
                    <h1 class="h1">Supportive Science To Feel Better Every Day</h1>
                    <div class="right_side right_side_inside">
                        <a class="internal-link internal-link-left" href="#"></a>
                        <a class="internal-link internal-link-right" href=#"></a>
                        <img src="https://cdn.shopify.com/s/files/1/0735/0933/9359/files/back1.png?v=1734786213" alt="" class="back">
                        <div class="natural_label">
                            <img src="https://cdn.shopify.com/s/files/1/0735/0933/9359/files/natural_icon_5b0ce235-4922-477d-b16a-bdbd30d984fa.png?v=1734786313" alt="">
                            <p>Activ8 Joint Complete & <br>
                                Essential Organics
                            </p>
                        </div>
                    </div>
                    <div class="cofounder_cont">
                        <img src="https://cdn.shopify.com/s/files/1/0735/0933/9359/files/dr.png?v=1734786892" alt="">
                        <div class="text">
                            <p class="name">Paul O'Connell
                            </p>
                            <p class="position">Co-Founder of Physical Nutrition</p>
                        </div>
                    </div>
                    <a href="#" class="green_btn">Learn more</a>
                </div>
                <div class="right_side">
                    <a class="internal-link internal-link-left" href="#"></a>
                    <a class="internal-link internal-link-right" href="#"></a>
                    <img src="https://cdn.shopify.com/s/files/1/0735/0933/9359/files/back1.png?v=1734786213" alt="" class="back">
                    <div class="natural_label">
                        <img src="https://cdn.shopify.com/s/files/1/0735/0933/9359/files/natural_icon_5b0ce235-4922-477d-b16a-bdbd30d984fa.png?v=1734786313" alt="">
                        <p>Activ8 Joint Complete & <br>
                            Essential Organics
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product_contents">
        <div class="container">
            <div class="inner">
                <div class="block">
                    <figure>
                        <div class="image"
                             style="background: url('https://cdn.shopify.com/s/files/1/0735/0933/9359/files/icon1.png?v=1734787471') center center no-repeat; width: 56px; height: 60px;"></div>
                    </figure>
                    <p class="title">High Impact Ingredients</p>
                    <p class="text">We only use the premium ingredients and zero fillers. Each selected
                        for its science-backed benefits. So you can rest assured every blend has maximum impact</p>
                </div>
                <div class="block">
                    <figure>
                        <div class="image"
                             style="background: url('https://cdn.shopify.com/s/files/1/0735/0933/9359/files/icon2.png?v=1734787471') center center no-repeat; width: 61px; height: 61px;"></div>
                    </figure>
                    <p class="title">Powerful Formulas</p>
                    <p class="text">We’re focused on making products which improve your quality of life. That’s why
                        every blend is carefully formulated to help your body thrive. And give everyone the chance
                        to remain active and healthy at any age</p>
                </div>
                <div class="block">
                    <figure>
                        <img src="https://cdn.shopify.com/s/files/1/0735/0933/9359/files/icon3.png?v=1734787471" alt="">
                    </figure>
                    <p class="title">Cutting-Edge Manufacturing</p>
                    <p class="text">Physical Nutrition uses the latest technology to bring you advanced, high
                        quality products. In service of one simple goal: Providing you with transformative formulas
                        to help you live a happier, healthier life</p>
                </div>
            </div>
        </div>
    </section>
    <section class="top_selling_product">
        <div class="container">
            <div class="inner">
                <h3 class="h3">Meet Our Top-Selling Product</h3>
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0735/0933/9359/files/top_selling_img_90.png?v=1734787814g" alt="" class="top_selling_img">
                </a>
                <h5 class="h5">The Science Inside Activ8 Joint Complete
                </h5>
                <p class="text">This remarkable formula brings you a combination of the latest and greatest joint
                    health helpers. Brought together in a precision-engineered blend for a fast-acting powerful
                    effect on your joints. With added Vitamin C to support normal cartilage and bone function.
                </p>
                <a href="#" class="green_btn">Buy Now</a>
            </div>
        </div>
    </section>
    <section class="benefits_section">
        <div class="container">
            <div class="inner">
                <div class="block">
                    <figure>
                        <div class="image"
                             style="background: url('https://cdn.shopify.com/s/files/1/0735/0933/9359/files/benefit_icon1.png?v=1734787923') center center no-repeat; width: 72px; height: 72px;"></div>
                    </figure>
                    <p>Free Shipping <br> Over £50</p>
                </div>
                <div class="block">
                    <figure>
                        <div class="image"
                             style="background: url('https://cdn.shopify.com/s/files/1/0735/0933/9359/files/benefit_icon2.png?v=1734787923') center center no-repeat; width: 64px; height: 64px;"></div>
                    </figure>
                    <p>90 Day Money-back <br> Guarantee</p>
                </div>
                <div class="block">
                    <figure>
                        <div class="image"
                             style="background: url('https://cdn.shopify.com/s/files/1/0735/0933/9359/files/benefit_icon3.png?v=1734787923') center center no-repeat; width: 56px; height: 56px;"></div>
                    </figure>
                    <p>4.85 Star Rating</p>
                </div>
            </div>
        </div>
    </section>
    <section id="nutrient_questions_section" class="nutrient_questions_section">
        <div class="container-fluid">
            <div class="inner">
                <div class="left_cont">
                    <img src="https://cdn.shopify.com/s/files/1/0735/0933/9359/files/essential_organics_drink.png?v=1734788023" alt="" class="left_img_back">
                    <!-- <img src="/build/shop/img/product.png" alt="" class="product"> -->
                </div>
                <div class="right_side">
                    <div class="block">
                        <p class="title">Which Nutrients Help You Stay Active?</p>
                        <p class="text">
                            The right nutrients in the right quantities can help you feel significantly more energised,
                            improve health, and get you into shape. The key is understanding the integrative balance between your diet and lifestyle.
                        </p>
                        <a href="/nutritional-science" class="green_btn">Learn more</a>
                    </div>
                    <div class="block">
                        <p class="title">Introducing Activ8 Joint Complete</p>
                        <p class="text">The ultimate way to help you maintain healthy joints. Combining 8 extraordinary joint-supporting compounds.</p>
                        <a href="#" class="green_btn">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

        

    </main>

</div>

{% schema %}
  {
  "name": "Home Page",
  "settings": [],
  "presets": [
    {
      "name": "Home Page"
    }
  ]
}  
{% endschema %}
